.drawer-link .MuiListItemIcon-root {
    color: #03de44 !important;
  }
  
.drawer-link.active .MuiListItemIcon-root {
    color: rgb(255, 255, 255) !important;
  }
  
  .drawer-link.active .MuiListItemButton-root {
    background-color: #03de44 !important;
  }