.drawer-link .MuiListItemIcon-root {
    color: #02c83d !important;
  }
  
.drawer-link.active .MuiListItemIcon-root {
    color: rgb(255, 255, 255) !important;
  }
  
  .drawer-link.active .MuiListItemButton-root {
    background-color: #02c83d !important;
  }